<div class="content">
  <div class="albums ap">
    <h1 class="name">Album</h1>
      <h3  class="description">Has 3 fields:</h3>
      <ul class="description list">
        <li>ID - uniq number</li>
        <li>User ID - number</li>
        <li>Title - string</li>
      </ul>
    <img class="icon" src="../assets/images/albumIcon.png">
  </div>
  <div class="photos ap">
    <h1 class="name">Photo</h1>
    <h3  class="description">Has 5 fields:</h3>
    <ul class="description list">
      <li>Album ID - number</li>
      <li>ID - uniq number</li>
      <li>Title - string</li>
      <li>Url - url link</li>
      <li>Thumbnail url - url link</li>
    </ul>
    <img class="icon photo-icon" src="../assets/images/photoIcon.png">
  </div>
</div>

