.products{
  display: flex;
  margin: 50px 0;
  border: gray 1px solid;
  padding: 5px;
  border-radius: 10px;
  background-color: antiquewhite;
  /*width: 600px;*/
}
.product-info{
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-img{
  max-height: 300px;
  max-width: 200px;
  mix-blend-mode: multiply;
  padding: 5px;
}
.product-image-block{
  width: 200px;
  height: 300px;
  border-right: solid gray 1px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-description{
  margin: 5px 0 0;
}
.likes-number{
  height: 30px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.likes{
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  /*flex-wrap: ;*/
}
.product-name a{
  color: black;
}
.buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
