.top {
  background-color: #1E88E5;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  color: white;
  font-family: Arial;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}
img {
  display: inline-block;
  filter: invert(38%) sepia(85%) saturate(1858%) hue-rotate(189deg) brightness(98%) contrast(83%);
}
button{
  margin-top: 20px;
  background-color: white;
  display: flex;
  border-radius: 5px;
  outline:none;
  color: #1e88e5;
}
