.product-name{
  color: #1E88E5;
}
.products{
  padding: 0 10px;
}

.share{
  background-color: #1E88E5;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin: 10px;
}
.item{
  border-top: solid gray 1px;
  padding: 10px;
}
.item-image{
  max-width: 400px;
  max-height: 300px;
}
div.images-box{
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
div.images-box div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.star-images{
  /*position: absolute;*/
  /*left: 530px;*/
  overflow: hidden;
}
/*.colorful-stars{*/
/*  !*mix-blend-mode: multiply;*!*/
/*  filter: invert(82%) sepia(93%) saturate(538%) hue-rotate(355deg) brightness(108%) contrast(103%);*/
/*}*/
.icons{
  margin: 5px;
}
