<div class="go-back" *ngIf="category">
  <a routerLink="/categories/{{category.id}}">
    Return back to {{category.name}}
  </a>
<div class="product" *ngIf="product">
  <h1>{{product.name}}</h1>
  <div class="images-gallery">
    <button (click)="product.nextImage(-1)"><</button>
    <div class="all-img">
    <img class="img-product" src="{{product.images[product.imageCnt]}}">
    </div>
    <button (click)="product.nextImage()">></button>
  </div>
  <p *ngIf="product.description">Description : {{product.description}}</p>

  <h3 class="product-rating">
    Rating: {{product.rating}}
    <img src="https://www.vippng.com/png/detail/63-637771_3d-rating-star-png-image-transparent-background-gold.png" width="20px" style="  mix-blend-mode: multiply;">
  </h3>

  <div class="likes">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png" height="30px" (click)="product.like()">
    <div class="likes-number">
      <p>{{product.likes}}</p>
    </div>
  </div>
  <div>
    <a href="https://t.me/share/url?url={{product.link}}&text=Hey everyone" target="_blank">
      <button class="btn">Share</button>
    </a>
    <a href="{{product.link}}" target="_blank">
      <button class="btn">More about...</button>
    </a>
  </div>
</div>
</div>
