#body{
    padding: 0px 4%;
}

.header{
    display: flex;
    justify-content: row;
}
#header{
    position: relative;
    height: 50px;
}
#header-1{
    width: 520px;
    float: left;
}
#header-2{
    width: 500px;
    float: right;
}
#header div a{
    margin: 15px;
}
#header-2 div p{
    margin: 15px;
}
#header-2 {
    display: flex;
    justify-content: space-between;
}


select {
    border: none;
}
fieldset{
    border: none;
}

#fs-1{
    position: relative;
    top:10px;
}


.box1{
    width: 300px;
    min-width: 200px;
    max-width: 48%;
    min-height: 200px;
    height: 400px;
}
.container1{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container{
    position: relative;
    width: 100%;
    height: auto;
}
#microsoft-365{
    position: absolute;
    top:120px;
    left:80px;
    width: 500px;
    font-size: 18px;
    font-weight:100;
    line-height: 21px;
    font-family: 'Segoe UI','SegoeUI',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
a.button{
    position: absolute;
    top:160px;
    width: 150px;
    height: 22px;
    color: white;
    text-align: center;
    background-color: black;
    padding-top: 6px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
a.button:hover{
    text-decoration: underline;
    font-size: 0.9em;
}
#b2{
    background-color: rgba(255, 255, 255, 0);
    left:160px;
    color: black;
}

a, a:visited{
    /* color: gray; */
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#footer{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(242, 242, 242);;
}