.input-1{
  font-size: 20px;
}
.manage-album{
  min-width: 500px;
  display: flex;
  flex-direction: column;
}
.submit-btn{
  margin-bottom: 20px;
  width: 220px;
  /*height: 50px;*/
  font-size: 20px;
  padding: 5px 50px;
}
