*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header, main, footer {
    position: relative;
    min-height: 150px;
    margin: 0 0 60px 0;
}
header{
    height: 75px;
    min-height: 50px;
    background-color: black;
    color: gray;
    padding: 10px 100px;
    font-size: 12px;
}
footer{
    height: 300px;
}
main{
    padding-left: 20%;
    padding-right: 12%;
    font-size: 16px;
    min-height: 500px;
}
.ToDoList{
    margin: 50px 0;
}
.new-task{
    padding: 0 5%;
    display: flex;
    flex-direction: row;
}
.new-task *{
    min-height: 50px;
}
.input{
    margin: 0 4%;
    flex: 38;
    font-size: 20px;
    border-radius: 8px;
    padding-left: 20px;
}
.button-1{
    flex: 3;
    border-radius: 8px;
    color: white;
    background-color: royalblue;
}
.list{
    border: solid lightgray 1px;
    border-radius: 8px;
}
.task {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.checkbox {
    margin-top: 45%;
}
.checkbox-box{
    margin: 30px;
}
.task-with-border {
    border-top: solid lightgray 1px;
}
.content{
    flex: 100;
    overflow: hidden;
}
.text{
    margin-top: 30px;
}
.line-cross{
    text-decoration: line-through;
}
.delete{
    margin: 20px;
}
img{
    width: 20px;
}
img:hover{
    cursor: pointer;
}