.top{
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 30px;
  background-color: #991e1e;
  /*width: 700px;*/
}
.logo{
  display: flex;
  justify-content: space-between;
  width: 300px;
  border: orangered 1px solid;
  border-radius: 10px;
  padding: 5px 20px;
  background-color: #67050c;

}
.logo-name{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;
  text-decoration: none;
}
.img-a{
  border-radius: 45px;
  filter: invert(100%);
}
.amazon-img{
  border-radius: 30px;
}
h1{
  font-family: Algerian, serif;
  font-size: 35px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
}
