.all-photos{
  display: flex;
  flex-flow: row wrap;
}
.photo-mini{
  position: relative;
  margin: 10px;
  display: flex;
  border: gray 1px solid;
  width: 440px;
  height: 200px;
  cursor: pointer;
  background-color: white;
}
.page-changes{
  display: flex;
}
.page-change-btn{
  display: flex;
  justify-content: center;
}
.change-btn{
  margin: 2px;
}
.photo-mini-info{
  margin: 10px;
}
.photo-mini-img{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.go-btn{
  position: absolute;
  bottom: 50px;
}
